<% model_class = News %>
<% page_title t('shared.actions.with_obj.edit',
                obj: t('activerecord.models.news', count: 1)) %>

<div class='actions-container'>
  <%= render partial: 'shared/edit_actions',
        locals: {
          object: @news,
          show_path: admin_news_path(@news),
          index_path: admin_news_index_path
                }
  %>
</div>

<%= render partial: 'form' %>
