<% model_class = Puzzle %>
<% page_title t('shared.actions.with_obj.edit',
                obj: t('activerecord.models.puzzle', count: 1)) %>

<div class='actions-container'>
  <%= render partial: 'shared/edit_actions',
        locals: {
          object: @puzzle,
          show_path: admin_puzzle_path(@puzzle),
          index_path: admin_puzzles_path
                }
  %>
</div>

<%= render partial: 'form' %>
