<%
  page_title "#{@news.title} (#{I18n.l(@news.date)})"
  page_description "#{@news.summary}"
  @do_not_use_default_page_layout = true
%>


<div class='contentSection mod-overlap-top-image mod-no-background'>

  <%= bootstrap_flash %>
  <header class='contentSection-header mod-white-background'>

    <div class='contentSection-header-title'>

      <h1 class='heading mod-news'>
        <%= @news.title %>
        <span><%= I18n.l(@news.date) %></span>
      </h1>

    </div>

  </header>

  <div class='contentSection-body mod-no-padding'>
    <%= render partial: 'shared/news_block', locals: { news: @news, with_poster: true, with_media: true, with_content: true, with_links: true } %>
  </div>
</div>

