$mobile-app-link-icon-height: 50px;

.mobileAppLinks {
  display: flex;
  flex-direction: column;
  &-item {
    display: block;
    max-height: $mobile-app-link-icon-height;
    height: $mobile-app-link-icon-height;
    // margin-bottom: 10px;

    @media (min-width: $footer-social-and-mobile-links-become-horizontal) {
      &:first-of-type {
        // margin-top: 10px;
      }
    }

    &:first-child {
      // margin-right: 12.5px;
    }

    > a {
      display: block;
      height: inherit;
      max-height: inherit;

      > svg {
        height: inherit;
        max-height: inherit;
      }
    }
  }
}
